Django==5.1.7
djangorestframework==3.15.2
djangorestframework_simplejwt==5.5.0
django-cors-headers==4.3.1
Flask==3.1.0
flask-cors==5.0.1
gunicorn==23.0.0
whitenoise==6.11.0
requests==2.32.3
python-dateutil==2.9.0.post0
pytz==2025.1
Werkzeug==3.1.3
